/* Reset de estilos básicos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilo global para los párrafos */
p {
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1rem;
}

/* Estilos específicos */
.firma {
    text-align: center;
}

header {
    background-color: #391131;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.home-link:hover {
    color: #f9674d;
    font-weight: bold;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    position: relative;
    margin-bottom: 40px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1, h2 {
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 4vw;
}

.hero-text h1 {
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 2.5vw;
}

/* Estilo de la cuadrícula de artículos */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.article-card {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.article-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #000000;
    color: #fffefe; 
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    line-height: 1.6;
}

/* Sección de contenido */
.content, .content2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
}

.content {
    text-align: center;
}

.content2 {
    font-family: 'Arvo', sans-serif;
    text-align: right;
}

/* Responsivo */
/* Pequeños */
@media (max-width: 300px) {
    .hero-text {
        font-size: 2.5vw;
        padding: 5%;
        width: 90%;
    }
    .content, .content2 {
        padding: 5%;
    }
    .content p, .content2 p {
        font-size: 4vw;
    }
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 8vw;
    }
    .article-card img {
        width: 90%;
    }
}

/* Medianos */
@media (min-width: 300px) and (max-width: 1080px) {
    .hero-text {
        font-size: 3vw;
        padding: 5%;
        width: 70%;
    }
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 5vw;
    }
    .content p, .content2 p {
        font-size: 3vw;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .article-card img {
        width: 95%;
    }
}

/* Grandes */
@media (min-width: 1080px) {
    .hero-text {
        font-size: 1.8vw;
        padding: 3%;
        width: 60%;
    }
    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    .content p, .content2 p {
        font-size: 1.5vw;
    }
    .article-card img {
        width: 100%;
    }
}

/* Menú de hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 1050px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: flex;
    }
}
